<div class="min-h-screen  items-center justify-center bg-gray-100">
  <nav class="bg-white">
    <div class="container flex justify-between space-x-4 p-4 items-center mx-auto">
      <a routerlink="/" href="/">
        <div class="w-50">
          <img src="theultralinx.com" class="max-auto">
        </div>
      </a>
      <div>
        <div>
          <a routerlink="profile" href="/profile">
            <div class="inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-600 rounded-full">
              <span class="font-medium text-white">s</span>

            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="bg-white p-8 flex justify-between border border-4 rounded shadow-md max-w-12xl mx-auto ml-50">


        <a routerlink="/" class="test-2xl" href="/" (click)="retourArriere()"><-</a>

      <div class="test-lg font-bold">Transaction</div>

  </div>

  <div class="bg-white p-8 border border-4 rounded shadow-md max-w-12xl mx-auto ml-50">
    <ul class="space-y-4">
      <li class="space-y-4 bg-white p-4" *ngFor="let t of transacs">
        <div class="flex justify-between">
          <h2 class="text-lg font-bold">{{t.date | date}}</h2>
          <div>{{t.amount}}&nbsp;£</div>
        </div>
        <ul class="space-y-4">
          <li>
            <a href="/accounts/d8f0fc05-d245-4091-beb0-cbb527ab3acc/transactions/e3cba7d6-4b09-46ea-ba67-4a484c654414">
              <div class="p-3 rounded hover:bg-blue-100">
                <div class="flex w-full justify-between">
                  <div class="flex space-x-4 items-center">

                      <div class="inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-600 rounded-full">
                        <span class="font-medium text-white">{{t.name[0] | uppercase}}</span>
                      </div>

                    <div>
                      <div>{{t.name | uppercase}}</div>
                      <div>{{now | date }}</div>
                    </div>
                  </div>
                  <div>{{t.amount}}&nbsp;£</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
