<div class="bg-gray-200 p-4">
    <h2 class="text-xl font-bold">Profil utilisateur</h2>
    <div class="flex items-center">
      <div class="bg-blue-500 text-white rounded-full w-12 h-12 flex items-center justify-center mr-4">
        <span class="text-lg font-bold">AB</span>
      </div>
      <div>
        <p><strong>Nom:</strong> Richelle</p>
        <p><strong>Code client:</strong> 652673</p>
      </div>
    <button class="bg-red-500 text-white px-4 py-2 mt-4 rounded" (click)="logout()">Deconnexion</button>
  </div>
  
  
